html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Microservices - 5in1
        link(rel="icon" href="/images/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="/css/main.css")
    body
        .centered.full-screen
            h2 404
            p The requested resource can't be found, sorry.
            a(href="/") Back to home
            .spacer

